#wrapper{
    width: 1200px;
    height: 800px;
    background-color: red;
    margin: auto;
}

#header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
#header h2{
    margin: 0px;
    font-size: 50px;
    line-height: 100px;
}

#asideLeft{
    width: 200px;
    height: 600px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

#msgArea{
    overflow: scroll;
    overflow-y: auto;
}

#quiz{
    background-color: aqua;
    height: 100px;
    /* font-size: 50px; */
    font-size: 28px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    border-radius: 10px;
}

#inputBox{
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#quizInput{
    background-color: plum;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 50px;
    border: 0px;
    border-radius: 10px;

    transition-duration: 0.1s;
}


#user{
    height: 400px;
    background-color: bisque;
    overflow: scroll;
}

#asideRight{
    width: 200px;
    height: 600px;
    background-color: rgb(214, 208, 208);
    float: left;
    box-sizing: border-box;
}

#content{
    width: 800px;
    height: 600px;
    background-color: azure;
    float: left;
}

#bottom{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    clear: both;
    text-align: center;
    line-height: 130px;
}

#bottom input[type = "range"]{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0px, 10px;
}

#bottom button{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 0px, 10px;
}

#eraser{
    background-image: url("../image/eraser.png");
    background-size: cover;
    background-color: aquamarine;
}

#refresh{
    background-image: url("../image/refresh.png");
    background-size: cover;
    background-color: aquamarine;
    border-radius: 50px;
}

#msgArea{
    width: 100%;
    height: 550px;
}

#msg{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(101, 97, 97);
    border-radius: 10px;
}

.msg-container{
    display: flex;
    margin: 0px;
}

/*내 메세지: 오른족 정렬렬*/
.msg-container.my-message{
    justify-content: flex-end;
}

.msg-container.my-message .msg-content {
  background-color: #DCF8C6;  
  color: black;
  padding: 8px 12px;
  border-radius: 15px 15px 0 15px;
  max-width: 70%;
  word-break: break-word;
}

/* 상대 메세세지: 왼쪽 정렬 */
.msg-container.other-message {
  justify-content: flex-start;
}

.msg-container.other-message .msg-content {
  background-color: #FFFFFF;
  color: black;
  padding: 8px 12px;
  border-radius: 15px 15px 15px 0;
  max-width: 70%;
  word-break: break-word;
  border: 1px solid #ddd;
}